[submodule "mods/apis/mhud"]
	path = mods/cs_core/cs_map/maps
	url = https://github.com/EISHU92/cs_map.git
	branch = main
[submodule "mods/cs_core/cs_map/cs_maps"]
	path = mods/cs_core/cs_map/cs_maps
	url = https://github.com/EISHU92/cs_map.git
